.customer-action .owl-dots button {
    height: 5px;
    background: #0f135d !important;
    width: 20px;
    display: inline-block;
    margin: 5px;
    transition: .2s;
    border-radius: 2px;
}

.customer-action button.owl-dot.active {
    background: lightgray !important;
    width: 30px;
}

.customer-action .owl-dots {
    text-align: center;
    margin-top: 25px
}

.customer-slide-item {
    direction: rtl;
    text-align: justify;
    border: 1px solid #FFF;
    margin-inline: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    font-weight: 400;
    font-size: 20px;

    :nth-child(even) {
        background-color: #0f135d;
        color: #f7f7f7;
    }
}