@font-face {
    font-family: 'iransanse';
    src: url('../font/iran-sans-300.woff2') format('woff2'), /* فرمت فایل فونت */
         url('../font/iran-sans-300.woff') format('woff'); /* فرمت دیگر فایل فونت */
    /* مسیر فایل فونت باید درست باشد */
}

body {
    font-family: 'iransanse', sans-serif;
}

.header,
.footer {
  background-color: #0f135d;
  box-shadow: inset 0px 0px 20px 0px black;
}

.header {
  position: sticky;
  top: 0;
}

.footer {
    position: fix;
    bottom: 0;
}
.footer *{
    color: white;
}

.header a {
  color: white;
}

.header>* {
    width: auto;
}

a {
  text-decoration: unset;
}

.d-flex-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.top-logo {
  width: 6rem;
}

.navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.email-reg>i{
  font-size: 25px;
    color: black;
}